workflow:
  rules:
  - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
  - if: $CI_COMMIT_BRANCH == 'main'

stages:
- lint
- test

variables:
  COMPOSER_CACHE_DIR: "$CI_PROJECT_DIR/composer-cache"

cache:
  key:
    files:
    - composer.lock
  paths:
  - vendor/
  - $COMPOSER_CACHE_DIR

.base:
  image: php:8.4-cli
  before_script:
  - apt-get update -yqq
  - apt-get install -yqq git nodejs libcurl4-gnutls-dev libicu-dev libmcrypt-dev libvpx-dev libjpeg-dev libpng-dev libxpm-dev zlib1g-dev libfreetype6-dev libxml2-dev libexpat1-dev libbz2-dev libgmp-dev libldap2-dev unixodbc-dev libpq-dev libsqlite3-dev libaspell-dev libsnmp-dev libtidy-dev
  - docker-php-ext-install mbstring pdo_mysql curl intl gd zip bz2 opcache
  - pecl install xdebug
  - docker-php-ext-enable xdebug
  - curl -sS https://getcomposer.org/installer | php
  - php composer.phar install --no-interaction --prefer-dist
  - cp .env.testing .env
  - php artisan key:generate

lint:
  extends: .base
  stage: lint
  script:
  - ./vendor/bin/rector process --ansi
  - ./vendor/bin/pint
  - |
    if ! git diff --quiet; then
      git config --global user.name "${GITLAB_USER_NAME}"
      git config --global user.email "${GITLAB_USER_EMAIL}"
      git remote set-url origin "https://gitlab-ci-token:${CI_JOB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git"
      git checkout -B "${CI_COMMIT_REF_NAME}"
      git commit -am "ci: auto-fixes from pint and rector"
      git push origin "${CI_COMMIT_REF_NAME}"
    fi
  rules:
  - if: '$CI_COMMIT_MESSAGE =~ /ci: auto-fixes/'
    when: never
  - when: on_success

test:
  extends: .base
  stage: test
  script:
  - chmod -R 777 storage bootstrap/cache
  - php artisan migrate --force
  - php artisan db:seed --force
  - php artisan test
  needs: [ "lint" ]
