services:
  php:
    build:
      context: .
      target: development
    volumes:
      - ./:/var/www/html # Mount local code for development
    environment:
      APP_ENV: local
      AUTORUN_DEBUG: "true"

  queue-monitoring-response:
    deploy:
      replicas: 1

  queue-monitoring-ssl:
    deploy:
      replicas: 1
