services:
  php:
    build:
      context: .
      target: development
      args:
        - USER_ID=${USER_ID:-1000}
        - GROUP_ID=${GROUP_ID:-1000}
    volumes:
      - ./:/var/www/html # Mount local code for development
    environment:
      APP_ENV: local
      AUTORUN_DEBUG: "true"


