name: Auto Approve

on:
  workflow_run:
    workflows: ["Test"]
    types:
      - completed

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'update-dependencies'
    permissions:
      pull-requests: write
    steps:
      - name: Approve pull request
        run: gh pr review ${{ github.event.workflow_run.pull_requests[0].number }} --approve
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
