name: Tag

on:
  workflow_run:
    workflows: [ "CI" ]
    types:
    - completed

permissions:
  contents: write

jobs:
  create-tag:
    name: "Create Tag"
    if: >
      github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'push' && github.event.workflow_run.head_branch == 'main'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Create tag
      uses: mathieudutour/github-tag-action@v6.1
      id: tag_version
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        default_bump: "patch"
