name: Tag

on:
  workflow_run:
    workflows: ["Test"]
    branches: [main]
    types:
      - completed

jobs:
  tag:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get latest tag
        id: latest_tag
        run: |
          git fetch --tags
          echo "::set-output name=tag::$(git describe --tags `git rev-list --tags --max-count=1`)"

      - name: Create new tag
        id: new_tag
        run: |
          tag=${{ steps.latest_tag.outputs.tag }}
          new_tag=$(echo $tag | awk -F. '{$NF = $NF + 1;} 1' | sed 's/ /./g')
          echo "::set-output name=tag::$new_tag"

      - name: Push new tag
        run: |
          git tag ${{ steps.new_tag.outputs.tag }}
          git push origin ${{ steps.new_tag.outputs.tag }}
